html,
body {
  height: 100%;
}

body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #34495e;
  font-family: 'Mansalva', cursive;
  font-size: 16px;

}

body,
a {
  color: #ecf0f1;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

h1,
h3 {
  margin: 0.5em 0;
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

nav {
  margin: 1.5em 0;
}

nav a {
  margin: 0 0.5em;
}

nav i.fa {
  font-size: 3em;
}

main {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: table;
}
