html,
body {
  height: 100%;
}

body {
  background: #ecf0f1;
  font-family: 'Handlee', cursive;
  color: #2c3e50;
}

a {
  color: #2c3e50;
  text-decoration: none;
}

a:hover {
  color: #34495e;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 3em;
}

h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

nav {
  margin-top: 2em;
  margin-bottom: 2em;
}

nav a {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

nav i.fa {
  font-size: 3em;
}

address {
  font-size: 1em;
}

#main {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: table;
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 6em;
  }

  h3 {
    font-size: 3em;
  }

  nav {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  nav a {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }

  nav i.fa {
    font-size: 6em;
  }

  address {
    font-size: 1.6em;
  }
}
